@import url(/css/default.css);

body {
    width: 350px;
}

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: .85rem;
}

.settings-icon {
    position: absolute;
    right: 1rem;
}

hr {
    margin-top: 0;
    opacity: .2;
}

.global-toggle-wrapper {
    width 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#global-toggle {
    color: var(--clr);
    width: 180px;
    height: 180px;
    background: none;
    border: none;  
    position: relative;
}

#global-toggle::after {  
    content: "";
    background-color: var(--bg-btn);
    -webkit-mask-image: url(/icons/global-toggle.svg);
    mask-image: url(/icons/global-toggle.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#global-toggle.enabled::after {
    background-color: var(--bg-primary);
}

/*
.stats-wrapper {
    display: grid;
    justify-content: center;
}
*/

#stats-heading {
    font-size: 1rem;
    text-align: center;
}

#stats-table {
    padding: 1rem;
    margin-inline: auto;
}

th {
    font-weight: 500;
    padding-right: 1em;
}
td {
    padding-inline: .5em;
    text-align: center;
    border: 1px solid #ffffff23;
}

